/* Images component */
/*

.Image
.Image--lg
.Image--sm
.Image--rounded

*/

/* Round images */
.Image {
    width: 100%;
    height: 100%;
}
.Image--rounded {
    border-radius: 50%;
}
.Image--rounded.Image--lg {
    max-width: 100px;
    max-width: 100px;
}
.Image--rounded.Image--sm {
    max-width: 50px;
    max-width: 50px;
}
.Image--rounded.Image--xs {
    max-width: 30px;
    max-width: 30px;
}

